/* SITE-HEADER */
.site-header {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.site-header-container {
    display: flex;
    align-items: center;
}

.site-header-logo {
    margin-right: 50px;
    display: flex;
}

.site-header-logo-img {
    width: 120px;
    height: 25px;
    background-color: inherit;
}

.site-header-sitenav {
    display: flex;
    align-items: center;
    gap: 80px;
}

.site-header-sitenav-list-left {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: auto;
}

.site-header-sitenav-link {
    text-decoration: none;
    color: #222;
    font-weight: 600;
    font-size: 14px;
}

.site-header-sitenav-link:hover {
    color: #22222276;
}

.site-header-sitenav-list-right {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 20px;
}


.site-header-auth-wrapper {
    position: relative;
    margin-left: auto;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.site-header-auth-btn {
    display: block;
    display: flex;
    border: none;
    background-color: inherit;
    color: #222;
    font-size: 20px;
    cursor: pointer;
}

.site-header-auth-toggle {
    font-size: 25px;
    margin-left: 15px;
    display: none;
    cursor: pointer;
}


@media only screen and (max-width: 1459px) {
    .site-header-sitenav-link {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1400px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .site-header-sitenav-link {
        font-size: 12px;
    }

    .site-header-sitenav-list-left {
        display: flex;
        gap: 20px;
    }

    .site-header-sitenav {
        display: flex;
        gap: 70px;
    }
}


@media only screen and (max-width: 1220px) {
    .site-header-sitenav {
        display: none;
    }

    .site-header-auth-toggle {
        display: block;
        display: flex;
    }
}